body{
    background-image: url('https://img.freepik.com/premium-vector/banking-finance-concept-illustration_387612-169.jpg');
   background-position: center;
   background-size: cover;
   color:azure;
}